	.nav-link{
	color:grey;
		}

	.bg-tula{
		color:cor;
		background-color:orange;
		font-family:;

	}

	.bg-imagem-fundo{
		background-color: #000;
		color:white;
	}

/*CORES*/
.botões{
	color:cor;
}
.linhas{
	color:cor;
}
.cor-da-fonte{
	color:cor;
}
.cor-de-fundo1{
	background-color: black;
}
/*tamanhos*/
