/*BackGrounds*/
.second-line{
    background: #fff url("primeiralinha2.jpg");-
    
    background-repeat: no-repeat;
    background-size: cover;
}
.background-celular{
    background: url("celular.png");
    background-repeat: no-repeat;
    padding-top: 400px;
    
}
.rowPadding-mobileBrand{
    padding-top: 20px;
}
/*Tamanhos e margens*/
.rowPadding{
    padding-top:50px;
    padding-bottom: 50px;
}
.Text-padding-lateral{
    padding-left:130px ;
    padding-right:130px ;
}

/*textos,paragrafos,h1,h2,h3,h4...*/
